// .login-form{
//     max-width: 300px;
// }

// .imgDiv{
//     width: 100%;
//     vertical-align: middle;
//     margin-bottom: 40px;
// }

// .login-form-margin{
//     margin-bottom: 26px;
// }

// .login-form-forgot{
//     float: right;
// }

// .login-form-button{
//     width: 100%;
// }

// .child{
//     padding: 50px;
//     position: absolute;
//     width: 380px;
//     background-color: white;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     background: white;
//     box-shadow: 1px 1px 15px -7px rgba(0,0,0.1);
//     border-radius: 5px;
//     margin-bottom: 32px;
// }

// .parent{
//     width: 100%;
//     height: 91vh;
//     position: relative;
// }

// button{
//     background-color: #001529;
//     border: none;
// }

// html, body{
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     background-color:#008cba; 
//     height:100%;
// }
// .container{ 
//    height:100%;
//    display:flex;
//    align-items:center;
//    justify-content:center;
// }
// .content{
//     background-color:white;
//     width:500px;
//     height:500px;
// }
// img{
//     width: 100%;
//     height: 25%;
// }
// .form-title{
//     padding:10px 40px 0px;
// }
// form{
//     padding:0px 40px;
// }
// input[type=text], [type=email],[type=password]{
//     border: none;
//     border-bottom: 1px solid black;
//     outline:none;
//     width:100%;
//     margin: 8px 0;
//     padding:10px 0;
// }
// input[type=number]{
//     border: none;
//     border-bottom: 1px solid black;
//     outline:none;
//     margin: 8px 0;
//     padding:5px 0;
// }
// input :hover {
//     background-color: red;
// }
// select{
//     border: none;
//     border-bottom: 1px solid black;
//     outline:none;
//     margin: 8px 0;
//     padding:5px 0;
//     width:50%;
// }
// .beside{
//     display:flex;  
//     justify-content: space-between;
// }
// button{
//     color:#ffffff;
//     background-color: #4caf50;
//     height:40px;
//     width:25%;
//     margin-top:15px;
//     cursor: pointer;
//     border:none;
//     border-radius:2%;
//     outline:none;
//     text-align:center;
//     font-size:16px;
//     text-decoration:none;
//     -webkit-transition-duration:0.4s;
//     transition-duration:0.4s;
// }
// button:hover{
//     background-color:#333333;
// }
