
<h1>Total Bookings</h1>
<div class="table-container">
    <div class="table-header">
        <div class="search-wrapper" >
            <form >
            <input type="text" id="search-input" placeholder="Search..." formControlName="name">
            <button><i class="fas fa-search" ></i></button>
        </form>
        </div>
        <div class="view-options">
            <label for="rows-select">Show rows:</label>
            <select id="rows-select">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
    <table id="employee-table">
        <thead>
            <tr>
                <th data-column="id" data-order="desc">ID <i class="fas fa-sort"></i></th>
                <th data-column="fullName" data-order="desc">FromDate <i class="fas fa-sort"></i></th>
                <th data-column="sex" data-order="desc">Payment <i class="fas fa-sort"></i></th>
                <th data-column="age" data-order="desc">ToDate <i class="fas fa-sort"></i></th>
                <th data-column="position" data-order="desc">Days <i class="fas fa-sort"></i></th>
                <th data-column="salary" data-order="desc">Price <i class="fas fa-sort"></i></th>
                <th data-column="address" data-order="desc">Status <i class="fas fa-sort"></i></th>
            </tr>
        </thead>
        <tbody id="table-body" *ngFor="let item of bookACar">
            <td>{{item.id}}</td>
            <td>{{item.fromDate}}</td>
            <td>{{item.payment}}</td>
            <td>{{item.toDate}}</td>
            <td>{{item.days}}</td>
            <td>{{item.price}}</td>
            <td>{{item.bookACarStatus}}</td>
        </tbody>
    </table>
</div>

<button routerLink="/admin/data-dashboard" routerLinkActive="active">Back</button>