<div class="card">
    <div class="card-header">
      <h1 class="card-title">Total Contracts</h1>
    </div>
    <div class="card-body">
      <div class="table-container">
        <div class="table-header">
          <div class="search-wrapper">
            <form>
              <input type="text" id="search-input" placeholder="Search..." formControlName="name">
              <button class="btn-navbar"><i class="fas fa-search"></i></button>
            </form>
          </div>
          <div class="col-md-6 text-right">
            <label for="rows-select" class="mr-2">Show rows:</label>
            <select id="rows-select" class="custom-select custom-select-sm w-auto">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
        <div class="table-responsive">
          <table id="booking-table">
            <thead>
              <tr>
                <th>ID <i class="fas fa-sort"></i></th>
                <th>CarName <i class="fas fa-sort"></i></th>
                <th>UserName <i class="fas fa-sort"></i></th>
                <th>Booking Id  <i class="fas fa-sort"></i></th>
                <th>Usage <i class="fas fa-sort"></i></th>
                <th>Termination <i class="fas fa-sort"></i></th>
                <th>Status <i class="fas fa-sort"></i></th>
                
              </tr>
            </thead>
            <tbody id="table-body" *ngFor="let item of Contracts | paginate: { itemsPerPage: 10, currentPage: p }">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.carName}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.bookACarId}}</td>
                <td>{{item.usageTerms}}</td>
                <td>{{item.terminationTerms}}</td>
                <td>{{item.rentalContractStatus}}</td>               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
        <!-- Thanh chuyển trang cố định dưới đáy trang -->
        <div class="pagination-container">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    <style>
      .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }
    </style>
    <div class="card-footer">
      <button routerLink="/admin/data-dashboard" routerLinkActive="active" class="btn-secondary">Back</button>
    </div>
  </div>
  
