@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #fe5b3e;
  --text-dark: #0f172a;
  --text-light: #475569;
  --extra-light: #f2f2f2;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-light);
  letter-spacing: 1px;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-dark);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: #43b2ee;
  white-space: nowrap;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #6a71b8;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

header {
  position: relative;
}

header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  z-index: -1;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 700;
  color: var(--white);
}

.nav__links .btn {
  padding: 0;
  background-color: transparent;
}

.nav__btns {
  display: none;
}

.header__container {
  display: grid;
  gap: 2rem 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__container::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: var(--gradient);
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  z-index: -1;
}

.header__content h1 {
  position: relative;
  isolation: isolate;
  margin-bottom: 2rem;
  font-size: 2.75rem;
  font-weight: 800;
  color: var(--text-dark);
  line-height: 3.25rem;
}

.header__content h1::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1rem;
  height: 4px;
  width: 2rem;
  background-color: var(--primary-color);
}

.header__content p {
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__links img {
  max-width: 125px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.steps__container :is(.section__subheader, .section__header) {
  text-align: center;
}

.steps__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.steps__card {
  text-align: center;
}

.steps__card span {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 10px 17px;
  font-size: 1.75rem;
  color: var(--primary-color);
  border-radius: 5px;
  background-color: var(--extra-light);
  border: 4px solid var(--white);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.steps__card:hover span {
  padding: 14px 21px;
  background: var(--gradient);
  color: var(--white);
  border: none;
}

.steps__card h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--text-dark);
}

.steps__card p {
  color: var(--text-light);
  line-height: 1.75rem;
}

.service__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.service__list {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.service__list li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.service__list li span {
  padding: 12px 15px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--extra-light);
  border: 4px solid var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.service__list h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.service__list p {
  color: var(--text-light);
  line-height: 1.75rem;
}

.experience__container :is(.section__subheader, .section__header) {
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
}

.experience__content {
  max-width: 1024px;
  margin-inline: auto;
  margin-top: 4rem;
  position: relative;
  isolation: isolate;
}

.experience__content img {
  max-width: 300px;
  margin-inline: auto;
  opacity: 0.5;
}

.experience__card {
  position: absolute;
  max-width: 200px;
}

.experience__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--extra-light);
  border: 4px solid var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.experience__card h4 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-dark);
}

.experience__card:nth-child(1) {
  top: 5rem;
  left: 1rem;
}

.experience__card:nth-child(2) {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.experience__card:nth-child(3) {
  bottom: 5rem;
  left: 1rem;
}

.experience__card:nth-child(4) {
  top: 5rem;
  right: 1rem;
  text-align: right;
}

.experience__card:nth-child(5) {
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  text-align: right;
}

.experience__card:nth-child(6) {
  bottom: 5rem;
  right: 1rem;
  text-align: right;
}

.download__container {
  overflow: hidden;
}

.download__grid {
  display: grid;
  padding: 5rem 1rem;
  background: var(--gradient);
  border-radius: 1rem;
}

.download__image {
  display: none;
}

.download__content .section__header {
  margin-bottom: 1rem;
  color: var(--white);
}

.download__content p {
  margin-bottom: 2rem;
  color: var(--extra-light);
  line-height: 1.75rem;
}

.download__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.download__links img {
  max-width: 125px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
  border-bottom: 1px solid var(--text-light);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-weight: 600;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__bar h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__bar p {
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  display: inline-block;
  padding: 8px 10px;
  font-size: 1rem;
  color: var(--text-dark);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.footer__socials a:hover {
  color: var(--white);
  background: var(--gradient);
}

@media (width > 540px) {
  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  header::before {
    height: calc(100% - 4rem);
  }

  nav {
    position: static;
    padding-block: 2rem;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-weight: 800;
    color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 2px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--primary-color);
  }

  .nav__links__btn {
    display: none;
  }

  .nav__btns {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  .nav__btns .btn__primary {
    color: var(--text-dark);
    background-color: transparent;
  }

  .header__container {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  .header__container::before {
    right: 5rem;
    width: calc(50% - 4rem);
    height: 100%;
  }

  .header__image {
    grid-column: 3/6;
  }

  .header__content {
    grid-area: 1/1/2/3;
  }

  .steps__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .experience__content img {
    opacity: 1;
  }

  .experience__card:nth-child(1) {
    left: 5rem;
  }

  .experience__card:nth-child(3) {
    left: 5rem;
  }

  .experience__card:nth-child(4) {
    right: 5rem;
  }

  .experience__card:nth-child(6) {
    right: 5rem;
  }

  .download__grid {
    margin-block: 4rem;
    padding-inline: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .download__image {
    display: flex;
    position: relative;
    isolation: isolate;
  }

  .download__image img {
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__bar {
    flex-direction: row;
  }

  .footer__bar :is(h4, .footer__socials) {
    flex: 1;
  }

  .footer__socials {
    justify-content: flex-end;
  }
}

//
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-toggle:hover {
  background-color: #d3d3d3;
  color: #333;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 145px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  color: #000;
}








//Admin
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--c-text-primary: #282a32;
	--c-text-secondary: #686b87;
	--c-text-action: #404089;
	--c-accent-primary: #434ce8;
	--c-border-primary: #eff1f6;
	--c-background-primary: #ffffff;
	--c-background-secondary: #fdfcff;
	--c-background-tertiary: #ecf3fe;
	--c-background-quaternary: #e9ecf4;
}

body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-background-secondary);
	color: var(--c-text-primary);
}

img {
	display: block;
	max-width: 100%;
}

:focus {
	outline: 0;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;
	border-bottom: 1px solid var(--c-border-primary);
	background-color: var(--c-background-primary);
}

.header-content {
	display: flex;
	align-items: center;
	& > a {
		display: none;
	}
	@media (max-width: 1200px) {
		justify-content: space-between;
		& > a {
			display: inline-flex;
		}
	}
}

.header-logo {
	margin-right: 2.5rem;
	a {
		display: flex;
		align-items: center;
		div {
			// outline: 2px solid;
			flex-shrink: 0;
			position: relative;
			&:after {
				display: block;
				content: "";
				position: absolute;
				left: 0;
				top: auto;
				right: 0;
				bottom: 0;
				overflow: hidden;
				height: 50%;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				background-color: rgba(#fff, 0.2);
				backdrop-filter: blur(4px);
			}
		}
	}
}

.header-navigation {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 1200px) {
		display: none;
	}
}

.header-navigation-links {
	display: flex;
	align-items: center;

	a {
		text-decoration: none;
		color: var(--c-text-action);
		font-weight: 500;
		transition: 0.15s ease;
		& + * {
			margin-left: 1.5rem;
		}

		&:hover,
		&:focus {
			color: var(--c-accent-primary);
		}
	}
}

.header-navigation-actions {
	display: flex;
	align-items: center;
	& > .avatar {
		margin-left: 0.75rem;
	}
	& > .icon-button + .icon-button {
		margin-left: 0.25rem;
	}

	& > .button + .icon-button {
		margin-left: 1rem;
	}
}

.button {
	font: inherit;
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	height: 40px;
	border-radius: 8px;
	line-height: 1;
	border: 2px solid var(--c-border-primary);
	color: var(--c-text-action);
	font-size: 0.875rem;
	transition: 0.15s ease;
	background-color: var(--c-background-primary);

	i {
		margin-right: 0.5rem;
		font-size: 1.25em;
	}

	span {
		font-weight: 500;
	}

	&:hover,
	&:focus {
		border-color: var(--c-accent-primary);
		color: var(--c-accent-primary);
	}
}

.icon-button {
	font: inherit;
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	color: var(--c-text-action);
	transition: 0.15s ease;
	i {
		font-size: 1.25em;
	}

	&:focus,
	&:hover {
		background-color: var(--c-background-tertiary);
		color: var(--c-accent-primary);
	}
}

.avatar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	overflow: hidden;
}

.main {
	padding-top: 3rem;
}

.main-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	h1 {
		font-size: 1.75rem;
		font-weight: 600;
		line-height: 1.25;
		@media (max-width: 550px) {
			margin-bottom: 1rem;
		}
	}
}

.search {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 340px;
	input {
		font: inherit;
		color: inherit;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 1em 0 36px;
		height: 40px;
		border-radius: 8px;
		border: 2px solid var(--c-border-primary);
		color: var(--c-text-action);
		font-size: 0.875rem;
		transition: 0.15s ease;
		width: 100%;
		line-height: 1;

		&::placeholder {
			color: var(--c-text-action);
		}

		&:focus,
		&:hover {
			border-color: var(--c-accent-primary);
		}
	}

	button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 0;
		background-color: transparent;
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.25em;
		color: var(--c-text-action);
		padding: 0;
		height: 40px;
	}
}

.horizontal-tabs {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	overflow-x: auto;
	@media (max-width: 1000px) {
		scrollbar-width: none;
		position: relative;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	a {
		display: inline-flex;
		flex-shrink: 0;
		align-items: center;
		height: 48px;
		padding: 0 0.25rem;
		font-weight: 500;
		color: inherit;
		border-bottom: 3px solid transparent;
		text-decoration: none;
		transition: 0.15s ease;
		&:hover,
		&:focus,
		&.active {
			color: var(--c-accent-primary);
			border-bottom-color: var(--c-accent-primary);
		}

		& + * {
			margin-left: 1rem;
		}
	}
}

.content-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 3rem;
	margin-top: -1px;
	border-top: 1px solid var(--c-border-primary);
}

.content-header-intro {
	h2 {
		font-size: 1.25rem;
		font-weight: 600;
	}

	p {
		color: var(--c-text-secondary);
		margin-top: 0.25rem;
		font-size: 0.875rem;
		margin-bottom: 1rem;
	}
}

.content-header-actions {
	a:first-child {
		@media (min-width: 800px) {
			display: none;
		}
	}
}

.content {
	border-top: 1px solid var(--c-border-primary);
	margin-top: 2rem;
	display: flex;
	align-items: flex-start;
}
.content-panel {
	display: none;
	max-width: 280px;
	width: 25%;
	padding: 2rem 1rem 2rem 0;
	margin-right: 3rem;
	@media (min-width: 800px) {
		display: block;
	}
}

.vertical-tabs {
	display: flex;
	flex-direction: column;
	a {
		display: flex;
		align-items: center;
		padding: 0.75em 1em;
		background-color: transparent;
		border-radius: 8px;
		text-decoration: none;
		font-weight: 500;
		color: var(--c-text-action);
		transition: 0.15s ease;
		&:hover,
		&:focus,
		&.active {
			background-color: var(--c-background-tertiary);
			color: var(--c-accent-primary);
		}

		& + * {
			margin-top: 0.25rem;
		}
	}
}

.content-main {
	padding-top: 2rem;
	padding-bottom: 6rem;
	flex-grow: 1;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 1.5rem;
	row-gap: 1.5rem;
	@media (min-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.card {
	background-color: var(--c-background-primary);
	box-shadow: 0 3px 3px 0 rgba(#000, 0.05), 0 5px 15px 0 rgba(#000, 0.05);
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.card-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.5rem 1.25rem 1rem 1.25rem;
	div {
		display: flex;
		align-items: center;

		span {
			width: 40px;
			height: 40px;
			border-radius: 8px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			img {
				// max-width: 85%;
				max-height: 100%;
			}
		}

		h3 {
			margin-left: 0.75rem;
			font-weight: 500;
		}
	}
}

.toggle {
	span {
		display: block;
		width: 40px;
		height: 24px;
		border-radius: 99em;
		background-color: var(--c-background-quaternary);
		box-shadow: inset 1px 1px 1px 0 rgba(#000, 0.05);
		position: relative;
		transition: 0.15s ease;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 3px;
			top: 3px;
			height: 18px;
			width: 18px;
			background-color: var(--c-background-primary);
			border-radius: 50%;
			box-shadow: 0 1px 3px 0 rgba(#000, 0.15);
			transition: 0.15s ease;
		}
	}

	input {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
		&:checked + span {
			background-color: var(--c-accent-primary);
			&:before {
				transform: translateX(calc(100% - 2px));
			}
		}

		&:focus + span {
			box-shadow: 0 0 0 4px var(--c-background-tertiary);
		}
	}
}

.card-body {
	padding: 1rem 1.25rem;
	font-size: 0.875rem;
}

.card-footer {
	margin-top: auto;
	padding: 1rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid var(--c-border-primary);
	a {
		color: var(--c-text-action);
		text-decoration: none;
		font-weight: 500;
		font-size: 0.875rem;
	}
}

html {
	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--c-text-primary);
		border: 4px solid var(--c-background-primary);
		border-radius: 99em;
	}
}
