<div class="contract-form">
  <h2>Thông Tin Hợp Đồng Thuê Xe</h2>
  <form class="contract-details">
      <div class="form-group">
          <label>ID Hợp Đồng:</label>
          <span>{{ rentalContracts.id }}</span>
      </div>

      <div class="form-group">
          <label>Book a Car ID:</label>
          <span>{{ rentalContracts?.bookACarId }}</span>
      </div>

      <div class="form-group">
          <label>Phương Thức Thanh Toán:</label>
          <span>{{ rentalContracts?.paymentMethod }}</span>
      </div>

      <div class="form-group">
          <label>Ngày Bắt Đầu:</label>
          <span>{{ rentalContracts.bookACarfromDate | date: 'dd/MM/yyyy' }}</span>
      </div>

      <div class="form-group">
          <label>Ngày Kết Thúc:</label>
          <span>{{ rentalContracts.bookACartoDate | date: 'dd/MM/yyyy' }}</span>
      </div>

      <div class="form-group">
          <label>Số Ngày Thuê:</label>
          <span>{{ rentalContracts.bookACarDays }}</span>
      </div>

      <div class="form-group">
          <label>Giá Thuê:</label>
          <span>{{ rentalContracts.bookACarPrice | currency: 'VND' }}</span>
      </div>

      <div class="form-group">
          <label>Tên Xe:</label>
          <span>{{ rentalContracts.carName }}</span>
      </div>

      <div class="form-group">
          <label>Màu Xe:</label>
          <span>{{ rentalContracts?.carColor }}</span>
      </div>

      <div class="form-group">
          <label>Năm Sản Xuất:</label>
          <span>{{ rentalContracts?.carYear | date: 'yyyy' }}</span>
      </div>

      <div class="form-group">
          <label>Tên Người Thuê:</label>
          <span>{{ rentalContracts?.userName }}</span>
      </div>

      <div class="form-group">
          <label>Email Người Thuê:</label>
          <span>{{ rentalContracts?.userEmail }}</span>
      </div>

      <div class="form-group">
          <label>Điều Khoản Bảo Dưỡng:</label>
          <span>{{ rentalContracts?.maintenanceTerms }}</span>
      </div>

      <div class="form-group">
          <label>Điều Khoản Sử Dụng:</label>
          <span>{{ rentalContracts.usageTerms }}</span>
      </div>

      <div class="form-group">
          <label>Điều Khoản Kết Thúc:</label>
          <span>{{ rentalContracts.terminationTerms }}</span>
      </div>

      <div class="form-group">
          <label>Trạng Thái Hợp Đồng:</label>
          <span>{{ rentalContracts.rentalContractStatus }}</span>
      </div>
  </form>
  
  <!-- Nút Back nằm ở cuối hợp đồng -->
  <div class="back-container">
      <button routerLink="/customer/rental" routerLinkActive="active" class="back-button">Back</button>
  </div>
</div>
