.contract-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .contract-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #555;
  }
  
  .form-group span {
    color: #333;
  }

  button{
    background-color: blue;
    color: #fff;
    cursor: pointer;
    width: 80px;
  }
  