
<h1>Total Car</h1>
<div class="table-container">
    <div class="table-header">
        <div class="search-wrapper" >
            <form [formGroup]="searchForm">
            <input type="text" id="search-input" placeholder="Search..." formControlName="name">
            <button (click)="searchCarByName()"><i class="fas fa-search" ></i></button>
        </form>
        </div>
        <div class="view-options">
            <label for="rows-select">Show rows:</label>
            <select id="rows-select">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
    <table id="employee-table">
        <thead>
            <tr>
                <th>Profile Image</th>
                <th data-column="id" data-order="desc">ID <i class="fas fa-sort"></i></th>
                <th data-column="fullName" data-order="desc">Name <i class="fas fa-sort"></i></th>
                <th data-column="sex" data-order="desc">Brand <i class="fas fa-sort"></i></th>
                <th data-column="age" data-order="desc">Color <i class="fas fa-sort"></i></th>
                <th data-column="position" data-order="desc">Year <i class="fas fa-sort"></i></th>
                <th data-column="salary" data-order="desc">Type <i class="fas fa-sort"></i></th>
                <th data-column="address" data-order="desc">CarOwner <i class="fas fa-sort"></i></th>
            </tr>
        </thead>
        <tbody id="table-body" *ngFor="let item of cars">
            <td><img [src]="item.processedImg"></td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.color}}</td>
            <td>{{item.year}}</td>
            <td>{{item.type}}</td>
            <td>{{item.carOwner}}</td>
        </tbody>
    </table>
</div>

<button routerLink="/admin/data-dashboard" routerLinkActive="active">Back</button>