<body>

    <div class="container" *ngFor="let item of cars">
        <div class="card">
            <div class="imgBx">
                <img routerLink="/car-details/{{item.id}}" [src]="item.processedImg" alt="nike-air-shoe">
            </div>
  
            <div class="contentBx">
  
                <h2>{{item.name}}</h2>
  
                <div class="size">
                    <h3>{{item.brand}}</h3> <span>+</span> <h3>{{item.transmission}}</h3> <span>+</span> <h3>{{item.type}}</h3>
                </div>
  
                <div class="color">
  
                    <h3>{{item.color}}</h3> <span>+</span> <h3>{{item.year|date:'yyyy'}}</h3>
                </div>
                <a routerLink="/login">Book Now</a>
            </div>
  
        </div>
    </div>
  
  </body>